input {
    outline: none;
    border: none;
    margin-bottom: 15px;
    background-color: #292A2E;
    font-size: 20px;
    padding: 15px;
    color: rgb(154, 160, 166);
}

input:hover {
    border: none;
}

input:active {
    border: none;
}