.button {
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    background-color: transparent;
    position: relative;
    border-radius: 2px;
    border: none;
    overflow: hidden;
    font-size: 18px;
    color: rgb(154, 160, 166);
    transition: 0.15s;
    transform: scale(1.0);
    cursor: pointer;
}

.button::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    border: 1px solid;
    border-image: linear-gradient(45deg, #29F29A, #02A2F7) 1;
    z-index: -1;}

.button:hover {
    font-size: 18px;
    width: 205px;
    height: 55px;
    color: rgb(232, 234,237);
}